APP_NAME=order-service
APP_ENV=production
APP_HOST=0.0.0.0
APP_PORT=8004
GRPC_HOST=0.0.0.0
GRPC_PORT=50051
GRPC_CATALOG_SERVICE_HOST=catalog-service
GRPC_CATALOG_SERVICE_PORT=50054
GRPC_STARTUP_CHECK_TIMEOUT=30
GRPC_CALL_TIMEOUT=5
GRPC_CIRCUIT_BREAKER_FAILURE_THRESHOLD=5
GRPC_CIRCUIT_BREAKER_RESET_TIMEOUT=30
APP_ROOT_PATH=/orders
APP_DEBUG=false
LOG_LEVEL=INFO

DB_HOST=postgres
DB_PORT=5432
DB_NAME=db_order
DB_USER=postgres
DB_PASSWORD=postgres
DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20
